* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  white-space: pre-line;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  color: #02f13e;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

.converted-text {
  text-align: left;
  color: #fff;
}

.cta {
  margin-bottom: 10px;
}

.cta textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 18px;
  background-color: #3c3c3c;
  color: #fff;
  border: #000;
  font-family: "Kanit", sans-serif;
  border-radius: 0.5rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* For phones */
@media screen and (max-width: 576px) {
  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1rem;
  }
}

/* For iPads */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1rem;
  }
}
